<html>
  <body>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="../static/car.png" />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif;
      }
    </style>

    <header class="w3-display-container w3-content" style="max-width: 1500px">
      <img
        class="w3-image"
        src="../static/commuter_home.jpg"
        alt="The road"
        style="min-width: 1000px"
        width="1500"
        height="800"
      />
      <div class="w3-display-middle w3-padding w3-col l6 m8">
        <div class="w3-container w3-indigo">
          <h2><i class="fa fa-car w3-margin-right"></i>CMRIT Car Pool</h2>
        </div>
        <div class="w3-container w3-white w3-padding-16">
          <form action="/create" method="post">
            <div class="w3-row-padding" style="margin: 0">
              <div class="w3-half w3-margin-bottom">
                <label
                  ><i class="fa fa-calendar-o"></i> Date and Time of
                  starting</label
                >
                <input type="datetime-local" id="date" name="date" />
                <h5>Price:</h5>
                <input
                  type="text"
                  id="charge"
                  name="charge"
                  required="required"
                />
                <input type="submit" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>
  </body>
</html>