<!DOCTYPE html>
<html>
<title>CommuterHomePage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="../static/car.png">
<style>
  body,
  h1,
  h2,
  h3, 
  h4,
  h5,
  h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
  }
</style>

<body class="w3-light-grey">

  <!-- Navigation Bar -->
  <div class="w3-bar w3-white w3-large">
    <a href="#" class="w3-bar-item w3-button w3-blue-grey w3-mobile"><i
        class="fa fa-car w3-margin-right"></i>Carpool</a>
    <a href="#rooms" class="w3-bar-item w3-button w3-mobile">Contact</a>
    <a href="#about" class="w3-bar-item w3-button w3-mobile">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-mobile"></a>
    <a href="#contact" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Book Now</a>
  </div>
  <!-- Header -->
  <header class="w3-display-container w3-content" style="max-width:1500px;">
    <img class="w3-image" src="../static/commuter_home.jpg" alt="The road" style="min-width:1000px" width="1500"
      height="800">
    <div class="w3-display-middle w3-padding w3-col l6 m8">
      <div class="w3-container w3-indigo">
        <h2><i class="fa fa-car w3-margin-right"></i>CMRIT Car Pool</h2>
      </div>
      <div class="w3-container w3-white w3-padding-16">
        <form action="/home" method="post">
          <div class="w3-row-padding" style="margin:0">
            <div class="w3-half w3-margin-bottom">
              <label><i class="fa fa-calendar-o"></i> Trip Date</label>
              <input type="datetime-local" id="date" name="date">
            </div>
            <div class="w3-half w3-margin-bottom">
              <label><i class="fa fa-location-arrow"></i> Pickup</label>
              <select name="pickup">
                <option value="{{ data[0] }}" selected>{{ data[0] }}</option>
                {% for point in data[1:] %}
                <option value="{{ point }}">{{ point }}</option>
                {% endfor %}
              </select> </div>
            <div class="w3-half w3-margin-bottom">
              <label><i class="fa fa-location-arrow"></i> Drop</label>
              <select name="drop">
                <option value="{{ data[0] }}" selected>{{ data[0] }}</option>
                {% for point in data[1:] %}
                <option value="{{ point }}">{{ point }}</option>
                {% endfor %}
              </select> </div>
          </div>
      </div>
      <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Search
        availability</button>
      </form>
    </div>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content" style="max-width:1532px;">

    <!-- <div class="w3-container w3-margin-top" id="rooms">
      <h3>Cars</h3>
      <p>Taking steps towards a better future. Carpooling? Why not.</p>
    </div>

    <div class="w3-row-padding">

    </div> -->

<h1>{{queue}}</h1>
    <div class="w3-row-padding" id="about">
      <div class="w3-col l12 12">
        <h2><center>About</center></h2>
        <h6><b>Taking steps towards a better future. Carpooling? Why not</b>.Carpooling usually means to divide the travel expenses equally between all the occupants of the vehicle (driver or passenger). The driver doesn't try to earn money, but to share with several people the cost of a trip he/she would do anyway. The expenses to be divided basically include the fuel and possible tolls.By having more people using one vehicle, carpooling reduces each person's travel costs such as: fuel costs, tolls, and the stress of driving. Carpooling is also a more environmentally friendly and sustainable way to travel as sharing journeys reduces air pollution, carbon emissions, traffic congestion on the roads, and the need for parking spaces. Authorities often encourage carpooling, especially during periods of high pollution or high fuel prices. Car sharing is a good way to use up the full seating capacity of a car, which would otherwise remain unused if it were just the driver using the car.</h6>
        <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i
            class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i
            class="fa fa-cc-paypal w3-large"></i></p>
      </div>

    </div>

    <!-- <div class="w3-row-padding w3-large w3-center" style="margin:32px 0">
      <div class="w3-third"><i class="fa fa-map-marker w3-text-indigo"></i> CMRIT AECS Layout, Bangalore, India</div>
      <div class="w3-third"><i class="fa fa-phone w3-text-indigo"></i> Phone: +91 1023456789</div>
      <div class="w3-third"><i class="fa fa-envelope w3-text-indigo"></i> Email: carpool@mail.com</div>
    </div> -->

    <!-- <div class="w3-panel w3-blue-grey w3-leftbar w3-padding-32">
      <h6><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i> Regular users can avail coupon code and
        discounts.</h6>
    </div> -->



    <!-- <div class="w3-container w3-padding-32 w3-black  w3-card w3-hover-opacity-off" style="margin:32px 0;">
      <h2>Get info on sustainable living!</h2>
      <p>Join our newsletter.</p>
      <label>E-mail</label>
      <input class="w3-input w3-border" type="text" placeholder="Your Email address">
      <button type="button" class="w3-button w3-indigo w3-margin-top">Subscribe</button>
    </div> -->

    <div class="w3-container" id="contact">
      <h2><center>Contact</center></h2>
      <p>New to this thing?...Worried that you may do something wrong?...Well we learn from our mistakes but still if you want to avoid them we are always there to help.If you have any questions, do not hesitate to ask them...If our one conversation can save your money,then lets chat right now.</p>
      <i class="fa fa-map-marker w3-text-indigo" style="width:30px"></i> Bangalore, India<br>
      <i class="fa fa-phone w3-text-indigo" style="width:30px"></i> Phone: +91 1023456789<br>
      <i class="fa fa-envelope w3-text-indigo" style="width:30px"> </i> Email: carpool@mail.com<br>
      <!-- <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message">
        </p>
        <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
      </form> -->
    </div>

    <!-- End page content -->
  </div>

  <!-- Footer -->
  <footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Find Us On</h5>
    <div class="w3-xlarge w3-padding-16">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </footer>

  <!-- Add Google Maps -->
  <script>
    function myMap() {
      myCenter = new google.maps.LatLng(41.878114, -87.629798);
      var mapOptions = {
        center: myCenter,
        zoom: 12,
        scrollwheel: false,
        draggable: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

      var marker = new google.maps.Marker({
        position: myCenter,
      });
      marker.setMap(map);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap">
  </script>


</body>

</html>