<h1>Distance-{{ distance }}</h1>

{% for x in queue%}
<form action="/sendreq" method="POST">
<p>charge-per-km-{{x['charge-per-km']}}</p>
<input type="hidden" value="{{x['id']}}" name="path_id">
<input type="hidden" value="{{x['owner_id']}}" name="owner_id">
<input type="hidden" value="{{distance}}" name="distance">
<input type="hidden" value="{{duration}}" name="duration">
<input type="hidden" value="{{x['charge-per-km']}}" name="charge">
<button type="submit">Send Request</button>

</form>
{%endfor%}